body{
    background-color:azure ;
}

h1{
    font-size: 5vw;
    font-family:cursive ;
    text-align: center;
}
#cabecalho{
    border: black 0.01vw solid;
    border-radius:0.9vw ;
    background-color: rgb(195, 195, 245);
    padding-left: 5vw;
    margin-bottom: 2vw;
    box-shadow: yellowgreen 0.4vw 0.3vw 0.2vw 0.5vw;
}
#conteudo{
    background-color:honeydew;
    margin-left: 6%;
    margin-right: 6%;
    padding: 2%;
}

.alinhar{
    display:flex;
    justify-content:space-between;
    padding: 1%;
    margin-right: 10%;
    


   
  }

   input{
      width: 35vw;
      height: 2vw;
      
      
  }
  .selecao{
    
    display:flex;
    justify-content:space-around;
    padding: 1%;
    margin-right: 30%;
    text-align: center;
    

  }
  #rodape{
    background-color:aquamarine;
    border: black 0.01vw solid;
    box-shadow: yellowgreen 0.4vw 0.3vw 0.2vw 0.5vw;
    border-radius:0.9vw ;
    text-align:center;
    color: blue;
    margin-bottom: 1px;
    margin-bottom: 2vw;
    margin-top: 1%;
    margin-left: 4vw;
    margin-right: 20vw;
    padding-left: 5vw;
    font-size: 1.3vw;
    width: 85%;
    height: 3vw; 
    padding: 1vw;  
   
}
 #botao{
     display: flex;
     margin-left: 42%;
    
 }

 #button{
     color: white;
     background-color: blue;
     width: 7vw;
     
 }

    
        
    
    